.conatinerMain{
    margin: 0 10%;
    min-height: 74vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerInputs{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.inputsBlock{
display: flex;
flex-direction: column;
gap: 20px;
}

.warning{
    font-size: 13px;
    color: red;
}